<div class="elisc_tm_experience">
    <div class="tm_content">
        <div class="elisc_tm_title">
            <span>{{ site.data.settings.experience.title }}</span>
            <h3>{{ site.data.settings.experience.subtitle }}</h3>
        </div>
        <div class="list">
            <ul>
             {% for item in site.data.settings.experience.list %}
                <li>
                    <img class="popup_image" src="{{ item.image }}" alt="" />
                    <div class="list_inner">
                        <div class="short">
                            <div class="job">
                                <span class="yellowColor">{{ item.period }}</span>
                                <h3>{{ item.designation }}</h3>
                            </div>
                            <div class="place">
                                <span>{{ item.company }}</span>
                            </div>
                        </div>
                        <div class="text">
                            <p>{{ item.excerpt }}</p>
                        </div>
                        <a class="elisc_tm_full_link" href="#"></a>

                        <div class="hidden_details">
                            <div class="descriptions">
                                {{ item.description | markdownify }}
                            </div>
                        </div>

                    </div>
                </li>
            {% endfor %}	
            </ul>
        </div>
    </div>
</div>