
<div class="elisc_tm_section" id="service">
    <div class="elisc_tm_services">
        <div class="tm_content">
            <div class="elisc_tm_service_title">
                <div class="elisc_tm_title">
                    <span>- Services</span>
                    <h3>My Services</h3>
                </div>
                <a href="mailto:maruf155714@gmail.com"><span>maruf155714@gmail.com</span></a>
            </div>
            <div class="service_list">
                <ul>
                    {% for item in site.data.settings.service.list %}
                    <li>
                        <img class="popup_image" src="{{ item.image}}" alt="" />
                        <div class="list_inner">
                            <div class="details">
                                <div class="title">
                                    <span>01</span>
                                    <h3>{{ item.title }} </h3>
                                </div>
                                <div class="text">
                                    <p>{{ item.excerpt }}</p>
                                </div>
                                <div class="elisc_tm_read_more">
                                    <a href="{{ item.btn-link }}"> {{ site.data.settings.service.btn-text }}<span><img class="svg"
                                                src="{{ site.data.settings.service.btn-icon }}" alt="" /></span></a>
                                </div>
                            </div>
                            <a class="elisc_tm_full_link" href="#"></a>

                            <div class="hidden_details">
                                <div class="descriptions">
                                    {{ item.description | markdownify }}
                                </div>
                            </div>

                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="elisc_tm_video">
                <img class="placeholder" src="assets/img/thumbs/4-2.jpg" alt="" />
                <div class="image" data-img-url="assets/img/thumbs/youtube-placeholder.jpg"></div>
                <div class="overlay"></div>
                <span class="play"><img class="svg" src="assets/img/icons/play.svg" alt="" /></span>
                <div class="text">
                    <h3>Intro Video</h3>
                </div>
                <a class="elisc_tm_full_link popup-youtube"
                    href="https://www.youtube.com/watch?v=7e90gBu4pas"></a>
            </div>
        </div>
    </div>
</div>