<div class="elisc_tm_topbar">
    <div class="topbar_inner">
        <div class="logo" data-type="image">
            <a class="image" href="#"><img src="assets/img/icons/play.svg" alt="" /></a>
            <a class="text" href="#"><span>M.Maruf</span></a>
        </div>
        <div class="trigger">
            <div class="hamburger hamburger--slider">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>
    </div>
</div>